.banner{
    text-align: center;
    position: relative;
}
/* paragraph 1st*/
.area{
    position: absolute;
    top: 35%;
    left: 70%;
    font-family: 'Work Sans';
    text-align: right;
    width: 185px;
    height: 60px;
    font-weight: 900;
    font-size: 40px;
       
}
/* button of image grind call now*/
.botam{
    background-color:lightblue;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    width: 125px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 2%;
    font-style: oblique;


}
/*love image*/
.love{

   position: absolute;
   text-align: right;
   top: 62%;
   left: 1250px;
   background-color: rgb(247, 241, 241);


}
/*paragraph 2nd*/
.life{
    position: absolute;
    top: 69%;
    left: 70%;
    text-align: right;
    width: 200px;
    height: 30px;
}
/*button contact*/
.contact{
    background-color:orangered;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 45px;
    position: absolute;
    top: 87%;
    left: 77%;
    text-align: center;
     color:white;
}
/* 2nd picture style*/
.main{
    text-align: center;
    position: relative;
}
/* 2nd picture paragraph*/
.year{
    position: absolute;
    top: 105%;
    left: 33%;
    text-align: center;
    font-family: 'Work Sans';
    width: 500px;
    height: 70px;
    font-weight: 800;
    font-size: 25px;
    gap: 50px;
}
/* 2nd pic er image background*/
.img{
    
    position:absolute;
    
    left: 10%;
    
    
    border-top: 250px;
}
.describe{
    position: absolute;
    top: 20%;
    left: 150%;
    text-align: left;
    width: 300px;
    height: 15px;
}
/* MY PLAN STEP*/
.plan{
    position: absolute;
    top: 140%;
    left: 100%;
    width: 400px;
    font-weight: 2000;
    font-size: 100px;
}
.related{
    position: absolute;
    left:100%;
    top:190% ;
}
.web{
    position: absolute;
    left: 125%;
    top:192% ;
}
.commerce{
    position: absolute;
    left: 160%;
    top: 190%;
}
.tweet{
    position: absolute;
    left:200%;
    top: 190%;
    
}
p span{
    color: greenyellow;
    display: flex;
    
    
}
/* IMAGE BLEND STEP*/
.gradient{
    position: absolute;
    top: 255%;
    background: url("images/watch.png");
    background-blend-mode:color-burn;
    left: 17%;
    width: 1000px;
    height: 250px;
}
.positive{
    
    font-family: sans-serif;
    width: 310px;
    height: 70px;
    position: absolute;
    top: 20%;
    left: 2%;
    font-style:inherit;
    font-size: 20px;

}
/*LAST PART STEPS*/
.lastpart{
    position: absolute;
    background-color: black;
    top:300% ;
    height: 350px;
    width: 1500px;
   
}
.type1{
    position: absolute;
    left: 5%;
    color: floralwhite;
    font-display:block;
    width: 320px;
}
.subscribe{
    position: absolute;
    left: 70%;
    width: 245px;
    height: 204px;
    color: rgb(249, 247, 246);
    font-weight: 500px;
}
.btn{
    background-color:rgb(252, 245, 236);
    font-family: sans-serif;
    border: none;
    border-radius: 7px;
    width: 92px;
    height: 30px;
    position: absolute;
    
    top: 50% ;
    left: 0%;
    color: darkorange;
}
